{% extends "base.html" %}

{% load static %}


{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap" rel="stylesheet">

<section style="margin-top: 1cm;">
    <div class="container intro" >
        <div>
            <h1 class="row">About Us</h1>
            <!-- <br> -->
            <span style="margin-top: 0;" class="lead">
                <h3>Dear members of the JNSFamily,</h3>
                
                <p style="text-indent: 1cm;"> This site was created for the purpose of a networked framework of plans in France. I developed this site using Django, a Python web framework. Construction of this website started on 6/12/2022, 
                    has been on going ever since. I hoped that this site would be useful as a tool to you all, but even if it isnt, I hope that it at least entertains you.</p>
                <p style="margin-top: 20px; font-size: 45;font-family: 'Herr Von Muellerhoff', cursive;">CJ Shah</p>
            </span>
        </div>

        
    </div>
    
</section>

{% endblock %}