{% extends "base.html" %}

{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/timeline.css' %}">


    {% block nav %}
    <section class="kloc" style="margin-bottom: 0;" >

        <nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-custom">
            <div class="container-fluid">
                <h1 class="navbar-brand"><b>JNS</b>FAMILY</h1>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="{% url 'tutorial'%}">Tutorial</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'about'%}">About</a>
                        </li>
                        <li class="nav-item dropdown ">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: black;">
                            Itineraries
                          </a>
                          
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <form method="post" action="">
                              {% csrf_token %}
                              {% for i in Itineraries %}
                                <li><input class="dropdown-item" type="submit" name="Itinerary" value="{{i}}"></li>
                              {% endfor %}
                            </form>
                          </ul>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="{% url 'admin:index' %}">Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    {% endblock %}
    {% if chosen %}
    <section>
      <div class="container-fluid intro">
          <div style="">
              <h1 style="" class="row">Timeline</h1>
              <span style="" class="row"><pre></pre>JNSFamily's France Itinerary: {{Itinerary}}
              <!-- <br>  Scroll to see more</span> -->
              
              
          </div>
      </div>
    </section>

    

    <section class="container-fluid" style="margin-bottom: 0; bottom:0; left: -5%;">
      {% for date in dates%}
        <h2 style="margin-left: 20px;">{{date.date}}</h2>
        <div class="timeline">
          {% for event, side in date.events %}
              
              <div class="container {% if side%} right reveal-right {% else %} left reveal-left {% endif %}">
                <div class="date">{{event.time}}</div>
                <!-- <i class="icon fa fa-home"></i> -->
                <div class="content">
                  <div>
                    <h2>{{event.place}}</h2>
                  </div>
                  {% if event.travel %}
                  <i><p>Travel</p></i>
                  {% endif %}
                  {% if event.hotel %}
                  <i><p>Hotel</p></i>
                  {% endif %}
                  <p>
                    {{event.description}}
                  </p>
                  {% if event.googlelink %}
                    <a class="" style="text-decoration: underline;" target="_blank" href="{{event.googlelink}}">
                      More info
                    </a>
                  {% endif %}
                </div>
              </div>
          {% endfor %}
        </div>
      {% endfor %}


    </section>
    {%else%}
    <section>
      <div class="container-fluid intro">
          <div style="">
              <h1 style="" class="row">Timeline</h1>
              <span style="" class="row"><pre></pre>JNSFamily's France Itinerary</span>
              <p style="" class="row">
                <p>
                  <b>Update: <br>
                  Instead of sorting by dates, we are sorting by Itineraries now. <br>
                  An example Itinerary has been placed on the page under Itineraries. <br>
                  Add your own Itinerary to the page and add events to that Initerary.</b> <br> <br> 
                  In our planning of France, as well as our exploration of it, we will need <br>
                  more proper planning and transparency in our plans. This purpose of this website <br>
                  is to organize our information into a more solid display method. <br> <br>
                  This tool will not only come into use with smaller things during our planning stage, <br>
                  such as deciding where we are going and how everything fits in, but will also allow us to <br>
                  organize ourselves in France.
                  <br><br>
                  Check the <a href="{% url 'tutorial' %}">tutorial</a> page on how to add events to the timeline. <br>
                  There is an example Itinerary written on the timeline, but you should add your own Itinerary.
                </p>
              </p>
              
              
          </div>
      </div>
    </section>
    {% endif %}
{% endblock %}
    
    <!-- Profile Bio -->
