{% extends "base.html" %}

{% load static %}


{% block content %}

<section style="margin-top: 1cm;">
    <div class="container-fluid intro">
        <div style="">
            <h1 style="" class="row">Tutorial</h1>
            <ol class="h4">
                <li>
                    <h4>Go to the Admin page</h3>
                    <img class="img-fluid" src="{% static 'img/tutorial/admin.jpg' %}" alt="admin">
                </li>
                <li>
                    <h4>Log in with your credentials</h3>
                    <img class="img-fluid" src="{% static 'img/tutorial/login.jpg' %}" alt="login" >
                </li>
                <li>
                    <h4>Add or change events</h3>
                    <img class="img-fluid" src="{% static 'img/tutorial/events.jpg' %}" alt="login" >
                </li>
                <li>
                    <h4>Input a date and time for the Event as well as a description and place</h3>
                    <img class="img-fluid" src="{% static 'img/tutorial/add.png' %}" alt="login" >
                </li>
            </ol/>
            
        </div>
    </div>
  </section>

{% endblock %}