{% extends "base.html" %}

{% load static %}


{% block content %}

<section style="margin-top: 1cm;">
    <div class="container-fluid intro">
        <div style="">
            <h2 style="" class="row">To add Itineraries</h2>
            <ol class="h4">
                <li>
                    <h4>Go to the Admin page</h4>
                    <!-- <img class="img-fluid" src="{% static 'img/tutorial/admin.jpg' %}" alt="admin"> -->
                </li>
                <li>
                    <h4>Log in with your credentials</h4>
                    <!-- <img class="img-fluid" src="{% static 'img/tutorial/login.jpg' %}" alt="login" > -->
                </li>
                <li>
                    <h4>Add or change Itineraries</h4>
                    <!-- <img class="img-fluid" src="{% static 'img/tutorial/events.jpg' %}" alt="login" > -->
                </li>
            </ol/>

            <h2 style="" class="row">To add events</h2>
            <ol class="h4">
                <li>
                    <h4>Go to the Admin page</h4>
                    <!-- <img class="img-fluid" src="{% static 'img/tutorial/admin.jpg' %}" alt="admin"> -->
                </li>
                <li>
                    <h4>Log in with your credentials</h4>
                    <!-- <img class="img-fluid" src="{% static 'img/tutorial/login.jpg' %}" alt="login" > -->
                </li>
                <li>
                    <h4>Add or change events</h4>
                    <!-- <img class="img-fluid" src="{% static 'img/tutorial/events.jpg' %}" alt="login" > -->
                </li>
                <li>
                    <h4>Input a date and time for the Event as well as a description and place</h4>
                    <h4>Check Drive or Hotel if the event is one of those.</h4>
                    <!-- <img class="img-fluid" src="{% static 'img/tutorial/add.png' %}" alt="login" > -->
                </li>
                <li>
                    <h4>Select an Itinerary by clicking on it</h4>
                    <!-- <img class="img-fluid" src="{% static 'img/tutorial/add.png' %}" alt="login" > -->
                </li>
            </ol/>
            
        </div>
    </div>
  </section>

{% endblock %}